<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'project_index' %}">Shah's Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'project_index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
            </li>
          </ul>
        </div>
    </div>
	
	

</nav>

<div class="intro">
		<h1 style="padding-left: 75px"><br>Self-Introduction</h1>
	
		<p style="padding-left: 75px"><br>Hello World! My name is Shahrul. I am currently studying in
		   Ngee Ann Polytechnic, Diploma in Information Technology. I have
		   a strong interest in researching and use various technologies
		   in a demanding tech world today. My specialisations are Sales & 
		   Marketing and Data Analytics.</p>
	</div>
	
	
	<div class="resume">
	
	<h2 style="padding-left: 75px"><br>Resume</h2>
		<h5 style="padding-left: 75px"><br>Summary</h5>
		<p style="padding-left: 75px"><br>A people's person and tech-savvy IT student interested in the Business Analytics. 
		Skills acquired include data analysis, programming, use of data analytics tools 
		and public speaking. I am able to communicate well and keen on gaining more skills 
		through industry exposure.</p> 

		<div class="Education">
		<br>
		<h5 style="padding-left: 75px">Education</h5><br>										
		<p style="padding-left: 75px">2017 - Current: Diploma in Information Technology in Ngee Ann Polytechnic<br>		     	      
		Grade Point Average: 3.1<br> 	 
		<p style="padding-left: 75px">2014 - 2016: NITEC in Aerospace Machining Technology in 
		Institute Of Technical Education(College Central)<br>	       			      
		Grade Point Average: 3.6<br>
		<p style="padding-left: 75px">2010 – 2013: GCE Normal Academic Level in Regent Secondary School</p>
		</div>

		<div class="skills">
		<br>
		<h5 style="padding-left: 75px">Related Skills</h5><br>
		<p style="padding-left: 75px">Learnt programming languages such as C#, Python to create solutions for applications with programming<br>
		Use of data visualisation tools, programming languages such as Tableau, R to generate data into visualisation<br>
		Acquired technical skills in programming, data analytics and Microsoft Office</p>
		</div>

		<div class="addskills">
		<br>
		<h5 style="padding-left: 75px">Additional Skills</h5><br>
		<p style="padding-left: 75px">Held roles such as Assistant Section Leader in a concert band, 
		leading clarinet section and helping to support the section in Regent Wind Symphony concert band<br>
		Competent in delivering presentations that are engaging<br>
		Able to communicate effectively with others </p>
		</div>

		<div class="work"><br>
		<h5 style="padding-left: 75px">Work Experience</h5><br>								  

		

		<p style="padding-left: 75px">Aug 2018-Oct 2018: Engineering Assistant, ST Electronics(Info Comm Systems)</p>
		
		<p style="padding-left: 75px">Assist colleagues in project preparation such as device setup and documentation<br>
		Acquire technical and people skills through exposure in work environment<br>
		Establish relationship with colleagues through networking</p><br>

		<p style="padding-left: 75px">Jul 2015-Nov 2015: Internship, Flextronics<br><br>								

		Build up networking skills by maintaining relationship with employees<br>
		Acquire technical skills through hands-on experience</p><br>

		<div class="achivements">
		<h5 style="padding-left: 75px">Achievements</h5><br>									
		<p style="padding-left: 75px">Awarded 2nd runner up in Ngee Ann Polytechnic Speechcraft 		
		Freshman Category	
		<br><br>Awarded CDC-CCC ITE Scholarship in Institute of Technical			
		Education                  	
		<br><br>Awarded Certificate of Distinction at Singapore Youth Festival 		  
		representing Regent Secondary School		
		<br><br>Awarded Silver at Singapore International Band Festival 	        		
		representing Regent Secondary School
		<br><br>Awarded 3rd place in Bilingual Public Speaking at Nee Soon South 		
		Community Club Lower Secondary Category</p><br><br>

		</div> 

		<div class="language">
		<h5 style="padding-left: 75px">Language Proficiency</h5><br>

		<p style="padding-left: 75px">Fluent in spoken & written English<br>

		Conversational in spoken & written Malay</p><br>
		</div>

		<div class="cca">
		<h5 style="padding-left: 75px">Co-curricular activities</h5>
		<p style="padding-left: 75px">Toastmasters in Ngee Ann Polytechnic<br><br>
		Acquired presentation skills to build up experience in public speaking<br>
		Took part in competitions in school to have an exposure of public speaking in a different environment<br>
		Build up networking skills with members to establish positive relationships</p>
		<br>
		<div class="interest">
		<h5 style="padding-left: 75px">Hobbies/Interests</h5>
		<p style="padding-left: 75px">Public speaking, Travelling, Music</p> 
		</div>
	
	</div>

<br><br>
<div class="container">
    {% block page_content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
